<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.faurplus">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FaurPlus">
        <activity android:name=".Settings"></activity>
        <activity android:name=".Grafics" />
        <activity
            android:name=".AnnaResult"
            android:parentActivityName=".Anna" />
        <activity
            android:name=".Ppm"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MaxDle"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Anna"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>