<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.faurplus">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FaurPlus">
        <activity android:name=".PpmResultActivity"></activity>
        <activity android:name=".DleResultActivity" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Settings" />
        <activity android:name=".GraphicsActivity" />
        <activity
            android:name=".MetricsResultActivity"
            android:parentActivityName=".PpmDleCalculatorActivity" />
        <activity
            android:name=".PpmActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MaxDle"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".PpmDleCalculatorActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>